  body  {
    min-width: 1200px;
    margin: 0;
    padding: 0;
  }
  a,body  {
    font-family: "Roboto","Arial",sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }
  h1  {
    font-size: 60px;
    line-height: 60.35px;
    font-weight: bold;
    font-family: inherit;
    color: #ffffff;
    margin: 0;
  }
  h2  {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    font-family: inherit;
    color: #323232;
  }
  .clearfix  {
    content: "";
    display: table;
    clear: both;
  }
  .page_wrapper,.catalog_wrapper  {
    width: 1200px;
    margin: 0 auto;
    background-color: #849d8f;
    outline: 1px dashed green; /*временно*/
    padding: 9px 0 25px;
  }
  .container  {
    width: 1146px;
    margin: 0 auto;
    outline: 1px dashed green; /*временно*/
  }
  .user_area  {
    min-height: 103px;
  }
  .index_logo  {
    min-height: 92px;
  }
  .index_logo  {
    width: 178px;
    float: left;
    outline: 1px dashed blue; /*временно*/
  }
  .main_navigation  {
    width: 406px;
    float: left;
    outline: 1px dashed red; /*временно*/
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    font-family: inherit;
    line-height: 18px;
  }
  .main_navigation a  {
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
  .main_menu  {
    padding: 0;
    margin: 22px 0 0;
  }
  .main_menu_item  {
    list-style-type: none;
    float: left;
  }
  .main_menu_item:nth-of-type(1)  {
    margin-right: 27px;
  }
  .main_menu_item:nth-of-type(2)  {
    margin-right: 30px;
  }
  .user_area  {
    width: 267px;
    min-height: 103px;
    float: right;
    padding-top: 14px;
    color: #ffffff;
    outline: 1px dashed blue; /*временно*/
  }
  .hits,.features,.news_and_subscription  {
    margin-bottom: 40px;
  }
  .action_item  {
    width: 560px;
    height: 229px;
    border-radius: 15px;
    outline: 1px dashed yellow; /*временно*/
  }
  .action_item:nth-of-type(1)  {
    float: left;
    background-image: url("../img/action_banner_1.jpg");
  }
  .action_item:nth-of-type(2)  {
    float: right;
    background-image: url("../img/action_banner_2.jpg");
  }
  .action::after{
    content: "";
    display: table;
    clear: both;
  }
  .hits  {
    font-size: 0px;
  }
  .product_item  {
    display: inline-block;
    width: 267px;
    margin-top: 40px;
    margin-right: 26px;
    font-size: 16px;
    text-align: center;
    position: relative;
    outline: 1px dashed #ffffff; /*временно*/
    vertical-align: top;
  }
  .item_name a  {
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-weight: 500;
  }
  .product_item:nth-of-type(4n)  {
    margin-right: 0px;
  }
  .hit::before  {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 61px;
    height: 61px;
    background-image: url("../img/hit_badge.png");
  }
  .features_container  {
    background: url("../img/wafer.png");
    height: 306px;
    outline: 1px dashed blue; /*временно*/
  }
  .news {
    width: 560px;
    height: 220px;
    float: left;
    outline: 1px dashed blue; /*временно*/
    background: url("../img/news_banner.png") no-repeat;
    color: #323232
  }
  .subscription_text  {
    margin: 0;
    color: #323232
  }
  .subscription  {
    width: 554px;
    height: 214px;
    float: right;
    background: #ffffff url("../img/pattern_item.png");
    outline: 1px dashed blue; /*временно*/
    border-radius: 10px;
    padding-top: 6px;
    padding-left: 6px;
  }
  .subscription_substrate  {
    background-color: #f8f7f4;
    height: 208px;
    width: 548px;
    border-radius: 10px;
  }
  .news_and_subscription::after  {
    content: "";
    display: table;
    clear: both;
  }
  /*временно*/
  .news_link  {
    color: #323232;
  }
  /**/
  .map  {
    background: url("../img/map.png");
    height: 430px;
  }
  .map .container  {
    height: 430px;
  }
  .feedback  {
    width: 302px;
    margin-top: 62px;
    float: right;
    color: #323232;
    background-color: #ffffff;
    border-radius: 10px;
  }
  /*временно*/
  .btn_feedback  {
    color: #323232;
  }
  /**/
  footer  {
    margin-top: 20px;
    outline:1px dashed red; /*временно*/
  }
  .footer_contacts  {
    width: 267px;
    min-height: 58px;
    float: left;
    margin-right: 26px;
    outline:1px dashed blue; /*временно*/
    font-size: 14px; /*временно*/
  }
  .footer_nav  {
    width: 560px;
    min-height: 58px;
    float: left;
    margin-right: 26px;
    outline:1px dashed yellow; /*временно*/
  }
  .footer_copyright{
    width: 267px;
    min-height: 58px;
    float: right;
    outline:1px dashed blue; /*временно*/
  }
  footer::after  {
    content: "";
    display: table;
    clear: both;
  }
  /*временно,как пройду "Декоративные элементы" переделаю через position*/
  .user_area_item  {
    float: left;
    margin-right: 5px;
    margin-bottom: 20px;
  }
  .contact  {
    width: 267px;
    float: right;
  }
  .time_work  {
    display: inline-block;
    width: 267px;
    text-align: right;
    font-size: 14px;
    line-height: 16px;
  }
  .telephone  {
    display: inline-block;
    width: 267px;
    text-align: right;
    font-size: 22px;
    line-height: 24px;
  }
  .slide h1  {
    width: 794px;
    margin-top: 295px;
    margin-left: 176px;
    margin-right: 176px;
    display: inline-block;
    text-align: center;
    font-size: 60px;
    line-height: 60.35px;
  }
  .slide:first-of-type  {
    max-height: 638px;
    background: url("../img/background_ice_cream_1.png") no-repeat;
    border: 2px dashed #ffffff;
  }
  /*временно*/
  /*hover item disable */
  .slider_toggle  {
    display: none;
  }
  .dropdown_menu  {
    display: none;
  }
  .search_request  {
    display: none;
  }
  .login_form  {
    display: none;
  }
  .basket_item  {
    display: none;

  }
  .slide:nth-child(2),.slide:nth-child(3)  {
    display: none;
  }
  .product_link_btn  {
    display: none;
  }
  .feedback_form  {
    display: none;
  }
  /*hover item disable */

  /*стили для каталога*/
  .breadcrumbs ul  {
    margin: 0;
    padding: 0;
  }
  .catalog_page_content  {
    outline: 1px dashed yellow; /*временно*/
    margin-top: 92px;
    margin-bottom: 39px;
  }
  .breadcrumbs_item  {
    float: left;
    margin-right: 22px;
    list-style-type: none;
  }
  .breadcrumbs  {
    outline: 1px dashed white; /*временно*/
  }
  .breadcrumbs_item:last-of-type  {
    margin-right: 0;
  }
  .breadcrumbs_item a  {
    font-size: 14px;
    line-height: 16px;
    font-weight: regular;
    font-family: inherit;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
  .breadcrumbs::after  {
    content: "";
    display: table;
    clear: both;
  }
  .catalog_h1  {
    outline: 1px dashed red; /*временно*/
    font-size: 35px;
    font-family: inherit;
    font-weight: bold;
    line-height: 41px;
    width: 1146px;
    padding: 0;
    margin: 23px 0 0;
  }
  .form_catalog  {
    margin-top: 23px;
    outline: 1px dashed orange; /*временно*/
    width: 879px;
    min-height: 130px;
    margin-bottom: 40px;
  }
  .catalog  {
    font-size: 0;
    margin-bottom: 88px;
  }
  .catalog_pages  {
    width: 267px;
    float: right;
    outline: 1px dashed white; /*временно*/
  }
  .catalog_page_content::after  {
    content: "";
    display: table;
    clear: both;
  }











